// out: styleLight.css, compress: true
@text-primary: #1f1f1f;
@text-secondary: #1f1f1f;

@bg-primary: #1f1f1f;
@bg-secondary: #fafafa;

@border: #e0e0e0;

@highlight: #03a9f4;
@disabled: #f44336;

@import "base.less";
